body{
    /* background-color: aqua; */
    text-align: center;
    width:  100%;
    
    font-size: x-large ;
    width: auto;
    /* margin: 5% 20% ; */
    /* border: dashed; */
    padding: 10rem;
   
    color:rgb(38, 247, 10);
    background-color:white; 
    background-image: url('../img/voici-les-meilleurs-jeux-de-societe-gratuits-pour-mieux-vivre-le-confinement.jpeg');
     
    
        
}




